[mysql]
socket = /var/lib/mysql/mysql.sock
default-character-set = utf8

[client]
port = 3306
socket = /var/lib/mysql/mysql.sock
default-character-set = utf8

[mysqld]
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
max_connections = 30
user=mysql

default-storage-engine          = InnoDB
innodb_data_file_path           = ibdata1:1024M:autoextend
innodb_buffer_pool_size         = 128M
innodb_file_per_table           = 1
innodb_log_file_size            = 64M
innodb_log_buffer_size          = 8M
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
innodb_lock_wait_timeout        = 50

character-set-server = utf8
collation-server     = utf8_unicode_ci
# init-connect         = SET NAMES utf8

explicit_defaults_for_timestamp = true

sql_mode            = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
slow-query-log-file = /var/lib/mysql/mysqld-slow.log
slow_query_log      = ON
long_query_time     = 1
general-log-file    = /var/lib/mysql/query.log

table_open_cache     = 512
query_cache_limit    = 2M
query_cache_size     = 64M
key_buffer_size      =
join_buffer_size     = 64M
sort_buffer_size     = 2M
read_rnd_buffer_size = 2M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 2M
thread_concurrency = 8

log-bin = mysqld-bin

# Todo:
# server-id = 201
# relay-log=relay-bin
# relay-log-index=relay-bin
# binlog_format=mixed
# max-binlog-size = 256M
# log_slave_updates

[mysqldump]
